@font-face {
    font-family: 'SFProText-Black';
    src: url('./fonts/GTWalsheimPro-Black.woff') format('woff');

}

@font-face {
    font-family: 'SFProText-Bold';
    src: url('./fonts/GTWalsheimPro-Bold.woff') format('woff');

}

@font-face {
    font-family: 'SFProText-Light';
    src: url('./fonts/GTWalsheimPro-Light.woff') format('woff');

}

@font-face {
    font-family: 'SFProText-Thin';
    src: url('./fonts/GTWalsheimPro-Thin.woff') format('woff');

}

@font-face {
    font-family: 'SFProText-Regular';
    src: url('./fonts/GTWalsheimPro-Regular.woff') format('woff');

}

.nynm {
    position: relative; 
}

.nynm-description {
    position: absolute;
    top: 48%;
    left: 30%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column; 
    /* align-items: center; */
    height: 100%;
    width: 50%;
    font-family: 'SFProText-Regular';
}

.nynm-description h2 {
    color: #ff3600;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    font-family: 'SFProText-Black';
    margin-top: 15px;

}



.nynm-sale p:first-child {
    font-size: 10px;
    color: #ff3600;
    text-transform: uppercase; 
    font-weight: 600; 
}

.nynm-sale p:nth-child(2),
.nynm-sale p:nth-child(3) {
    font-size: 30px;
    text-transform: uppercase;
    color: #ff3600;
    font-weight: 600;
    font-family: 'SFProText-Bold';


}
 
.last p {
    background-color: #ff3600;
    color: #ffffff;
    border: #ff3600 2px solid;
    width: fit-content;
    padding: 4px 8px;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 300;
    margin-bottom: 10px;
}

.last p span {
    font-weight: 900;
    font-size: 14px;
}
 

 
.nynm-description h2 span {
    font-weight: 200;
    font-family: 'SFProText-Regular';

}
.nynm-sale{
    display: flex;
    flex-direction: row;
    align-items: center; 
    align-items: 0;
    column-gap: 5px;
}
 

.desktop {
    display: none;
}

.mobile {
    display: block;
}



@media only screen and (min-width: 411px) {
    .nynm-description h2 { 
        font-size: 16px;
    }

}


@media only screen and (min-width: 500px) {
    .nynm-description h2 { 
        font-size: 20px;
    }

    

    .nynm-sale p:nth-child(2),
    .nynm-sale p:nth-child(3) {
        font-size: 40px;
    }


    .last p {
        font-size: 12px;
    }

    .last p span {
        font-weight: 900;
        font-size: 16px;
    }

}


@media only screen and (min-width: 630px) {

    .nynm-description h2 { 
        font-size: 24px;
    }

    .nynm-sale p:nth-child(2),
    .nynm-sale p:nth-child(3) {
        font-size: 50px;
    }

    .nynm-sale p:first-child {
        font-size: 14px;
    }
}

@media only screen and (min-width: 768px) {

    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    .nynm-sale {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 5px;
        margin-top: 7px;
        margin-bottom: 10px;

    }

    .last {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        column-gap: 5px;
        margin-top: -10px;

    }

    .nynm-products {
        width: 43%;
    }


    
    .nynm-description h2 { 
        font-size: 24px;
        text-align: left;
        margin-top: 10px;

    }
    .nynm-sale p:nth-child(2), .nynm-sale p:nth-child(3) {
        font-size: 50px;
    }
    .nynm-sale p{
        margin: 0;
    }
    .last p{
        margin: 0;
        font-size: 14px;

    }
    .nynm-btn{
        margin: 0;
        font-size: 20px;

    }
    .nynm-sale p:first-child {
        font-size: 16px;
    }

    .nynm-sale p:nth-child(3) {
        margin-top: 0;
    }
    .last p span {
        font-weight: 900;
        font-size: 16px;
    }








    .nynm-description {
        position: absolute;
        top: 50%;
        left: 26%;
        margin: auto;
        align-items: flex-start;
        width: 45%;
    }
}


@media only screen and (min-width: 992px) {
    .nynm{
        width: 550px;
    }
    .nynm-description h2 {
        font-size: 18px;
    }
   
    .nynm-sale p:nth-child(2), .nynm-sale p:nth-child(3) {
        font-size: 33px;
    }
    .last p {
        margin: 0;
        font-size: 12px;
    }
    .last p span {
        font-weight: 900;
        font-size: 14px;
    }
    .nynm-sale p:first-child {
        font-size: 12px;
    }











}

@media only screen and (min-width: 1200px) {
    .nynm{
        width: 600px;
    }
   

    .nynm-description h2 {
        font-size: 20px;
    }
 
    .nynm-sale p:nth-child(2), .nynm-sale p:nth-child(3) {
        font-size: 40px;
    }

}


@media only screen and (min-width: 1400px) {
    .nynm{
        width: 700px;
    }
    .nynm-description h2 {
        font-size: 24px;
    }
    .nynm-sale p:nth-child(2), .nynm-sale p:nth-child(3) {
        font-size: 45px;
    } 
    .nynm-sale { 
        margin-top: 0px;
    }
}


@media only screen and (min-width: 1600px) {

    .nynm-description h2 {
        font-size: 26px;
    }
    .nynm-sale p:nth-child(2), .nynm-sale p:nth-child(3) {
        font-size: 45px;
    } 
}
@media only screen and (min-width: 2000px) {
    .nynm{
        width: 800px;
    }
    .nynm-description h2 {
        font-size: 30px;
    }
    .nynm-sale p:nth-child(2), .nynm-sale p:nth-child(3) {
        font-size: 60px;
    } 
    .last p {
        margin: 0;
        font-size: 16px;
    }
    .last p span {
        font-weight: 900;
        font-size: 20px;
    }
}
 

